<!DOCTYPE html>
<html lang="tr">
    <head>
        <%-include('./component/head')%> 
        <link rel="stylesheet" type="text/css" href="../public/css/orders.css"/>
      </head>
        <body>
            <%-include('./component/topinfo')%>
            <%-include('./component/navbar')%>
            <div class="side-keeper">
                <div class="opener"> > </div>
                <%-include('./component/menuadmin')%>
                <aside class="main">
                    <h1 style="color: #D10024; font-family: 'Poppins'; margin-bottom: 10px;"><i class="fa-solid fa-truck-fast"></i>Orders</h1>
                </aside>
            </div>
            <%-include('./component/footer')%> 
            <script src="../public/script/orders.js"></script>
        </body>
</html>